.header_container {
    width: 85%;

    top: 89px;
    left: 295px;
    gap: 15px;
    opacity: 0px;
    border: 1px solid;
    display: flex;


}

.cb_cards {
    width: 213px;
    height: 64px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 10px 10px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px;

}


.msgcb_cards {
    width: 200px;
    height: 64px;
    padding: 8px 12px 8px 12px;
    gap: 10px;
    border-radius: 10px 10px 0px 0px;
    opacity: 0px;
    margin: 6px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0F8BFD;

}

.msgcb_cards p {
    color: #FFFFFF;
}

.cb_container {

    color: #D7AF48;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;

    text-align: center;
    padding: 5px;
    margin: 5px;
    background: #EEF0F5;

}

.cb_container1 {

    height: 35px;
    width: 35px;
    border-radius: 35px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    background: #EEF0F5;

}

.cb_container2 {

    color: #4C6292;
    height: 100px;
    width: 100px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;

    text-align: center;
    padding: 20px;
    margin: 5px;
    background: #EEF0F5;

}


.cb_content {
    color: #0F1729;

    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.comments {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    padding: 6px;
}

.hannible_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 1060px;
    top: 178px;
    left: 295px;
    padding: 20px 20px 20.01px 20px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}

.hannible_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location_content {
    styleName: B1 - REGULAR;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #676B89;

}

.location_cotainer {
    margin-left: 20px;
}

.number_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.dots_icon {
    width: 3.6px;
    height: 18px;
    top: 23px;
    left: 3.6px;
    gap: 0px;
    opacity: 0px;
    angle: -180 deg;
    font-size: 20px;
    padding: 5px;
    width: 43px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    color: #0F1729;

}

.customerId {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #676B89;
    height: 21px;
    gap: 0px;
    opacity: 0px;


}

.id_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px;
    width: 370px;
    height: Hug (28px)px;
    gap: 0px;
    opacity: 0px;
    margin: 5px;

}

.add_container {
    display: flex;
    width: 390px;
    height: 52px;
    top: 48px;
    left: -20px;
    gap: 0px;
    border-radius: 0px 0px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C629233;
    background: #4C62921A;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.plus_icon {
    width: 20px;
    height: 20px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;

}

.add_content {
    styleName: B1 - REGULAR;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0A061A;
    width: 27px;
    height: 21px;
    gap: 0px;
    opacity: 0px;
    padding: 10px;
}

.perc_conytent {
    color: #D7AF48;
    styleName: Untitled/text-lg/line-height-auto;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: bold;
    line-height: 19.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 5px;
}

.eightypercentage {
    color: #48D756;
    styleName: Untitled/text-lg/line-height-auto;
    font-family: Inter;
    font-size: 15.75px;
    font-weight: bold;
    line-height: 19.06px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 5px;

}

.other_agent_btn {
    display: flex;
    width: 390px;
    height: 52px;
    top: 48px;
    left: -20px;
    gap: 0px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C629233;
    background: #0F8BFD;

    justify-content: center;
    align-items: center;
    margin: 5px;
}

.otheragent {
    padding: 5px;
}

.newwidget {

    display: flex;
    width: 390px;
    height: 52px;
    top: 48px;
    left: -20px;
    gap: 0px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C629233;
    background: #FFFFFF;

    justify-content: center;
    align-items: center;
    margin: 5px;
}

.greeting_container {
    width: 450px;
    height: 369px;
    top: 178px;
    left: 1420px;
    padding: 0px 0px 20px 0px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #EEF0F5;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.greeting_navbar {
    display: flex;
    width: 410px;
    height: 72px;
    padding: 20px 0px 0px 0px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    justify-content: space-between;
    align-items: center;
    opacity: 0px;

}

.bg_content {
    background-image: url("https://res.cloudinary.com/dyq2jhzds/image/upload/v1733111969/Rectangle_43143_w9xuki.png");
    background-size: cover;
    width: 410px;
    height: 187px;
    top: 92px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search_container {
    width: 410px;
    height: 50px;
    top: 299px;
    left: 20px;
    gap: 15px;
    opacity: 0px;
    border: 1px solid #EEF0F5;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1px;

}

.input_container {
    width: 345px;
    height: 50px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C62921A;
    color: #4C62920A;
    padding: 10px;

}

.Home_container {
    display: flex;
    flex-direction: row;
}

.action_luncher_container {
    width: 450px;
    height: 274px;
    top: 572px;
    left: 1420px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}

.action_search_container {
    width: Fixed (410px)px;
    height: Fixed (50px)px;
    top: 92px;
    left: 20px;
    padding: 15px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C62921A;
    display: flex;
    align-items: center;
    padding: 10px;

}

.action_input_element {
    border: 0px;
    padding: 5px;
}

.add_action_btn {
    display: flex;
    width: 157px;
    height: 41px;
    padding: 10px;
    border-radius: 15px;
    background: #0F8BFD;
    margin: 10px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}


.add_action_btn1 {
    display: flex;
    width: 157px;
    height: 41px;
    padding: 10px;
    border-radius: 15px;
    color: #0F8BFD;
    margin: 10px;
    background: #0F8BFD1A;

    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.action_btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.case_favorite_container {
    width: 450px;
    height: 277px;
    top: 871px;
    left: 1420px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    margin: 10px;
    padding: 10px;

}

.lorem {
    width: Fixed (410px)px;
    height: Hug (45px)px;
    top: 92px;
    left: 20px;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(76, 98, 146, 0.03), rgba(76, 98, 146, 0.03));
    border: 1px solid #4C629233;
    text-align: center;
}

.lorem p {
    font-size: 14px;
    font-weight: bold;
    color: #0F1729;

}

.photo_container {
    width: 430px;
    height: 48px;
    top: 152px;
    left: 20px;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(76, 98, 146, 0.03), rgba(76, 98, 146, 0.03));
    border: 1px solid #4C629233;
    display: flex;
    align-items: center;
    padding: 10px;


}

.case_favorite {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.case_card {
    width: 450px;
    height: 72px;
    padding: 20px 0px 0px 0px;
    gap: 12px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border: 1px solid #44486D1A;
    display: flex;
    align-items: center;
}

.pin_icon {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.Action_lancher {
    padding-left: 15px;
}

.whatsup {
    styleName: B1 - MEDIUM;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 10px;

}

.Greetings {
    styleName: B1 - MEDIUM;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 10px;
}

.Aksura {
    styleName: H4 - BOLD;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
    line-height: 31.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.envolope {
    font-weight: bold;
    font-size: 18px;
}

.conversation_options {
    width: 478px;
    height: 51px;
    top: 178px;
    left: 770px;
    gap: 0px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    border-bottom: 1px solid #44486D1A;
    display: flex;
    align-items: center;

}

.conversation_options p {
    padding: 10px;
}

.Eascalate_btn {
    width: Hug (132px)px;
    height: Fixed (47px)px;
    top: 180px;
    left: 1263px;
    padding: 16px 30px 16px 30px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    background: #D74848;
    color: #FFFFFF;
    margin: 5px;
}

.msg_tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.content_card {
    width: 496px;
    height: 66px;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #4C629233;
    color: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(76, 98, 146, 0.03), rgba(76, 98, 146, 0.03));
    padding: 10px;
    margin: 10px;


}

.content_card1 {
    width: 496px;
    height: 108px;
    padding: 12px 0px 0px 0px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, rgba(76, 98, 146, 0.03), rgba(76, 98, 146, 0.03));
    border: 1px solid #4C629233;
    padding: 10px;
    margin: 10px;


}

.chat_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 490px;
    height: 50px;


}

.chat_data_container {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.time {
    margin-bottom: 10px;
}

.text_input {
    width: 300px;
    height: 50px;
    gap: 0px;
    border-radius: 10px;
    border: 1px solid;
    opacity: 0px;
    background: #4C62920A;
    padding: 10px;
    margin: 10px;
}

.clip_container {
    width: Fixed (50px)px;
    height: Fixed (50px)px;
    padding: 15px;
    gap: 10px;
    border-radius: 10px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #4C62920A;
    border: 1px solid #4C62921A
}

.sent_btn {
    width: 132px;
    height: 50px;
    gap: 0px;
    border-radius: 10px;

    opacity: 0px;
    background: #0F8BFD;
    color: #FFFFFF;
    padding: 16px;
    text-align: centers;
}

.chat_history_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.chat_card_container {
    width: 620px;
}

.msg_container {
    width: 550px;
    height: 681px;
    top: 254px;
    left: 770px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;

}